<app-header titulo="¿Por qué elegir desarrollo de software?"></app-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-row>


      <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">
        <ion-card>

          <ion-img src="/assets/images/dev_soft.png"></ion-img>
          <ion-card-header>
            <ion-card-title>
              ¿Por qué estudiar Ingeniería en Software?
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Porque la ingeniería de software es una de las carreras profesionales más demandadas.</p>
            <p>En la actualidad, es prácticamente imposible vivir sin utilizar los diversos software existentes, ya sea
              en
              nuestro ordenador, nuestro teléfono móvil o incluso en nuestra lavadora o nevera. Debido a los incesantes
              avances en la tecnología, la ingeniería de software se ha transformado en una de las profesiones más
              demandadas
              y con mayor crecimiento.
            </p>
            <p>Las necesidades que surgen en el mundo de la informática hacen que el mercado laboral que les espera a
              los
              ingenieros de software sea grande y de muchas oportunidades.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">
        <ion-card>
          <ion-card-content>
            <video src="/assets/videos/why_software.mp4" controls style="width: 100%"></video>
          </ion-card-content>
        </ion-card>
      </ion-col>


    </ion-row>
  </ion-grid>

</ion-content>
<!--
<ion-footer no-border>
  <ion-toolbar>
    <app-reproductor urlVideo="why_software.mp4"></app-reproductor>
  </ion-toolbar>
</ion-footer>
-->