<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Materias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="list"></ion-icon>
      <ion-label>Consejos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
        <ion-icon name="hand"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
