<app-header titulo="¿Deberías elegir desarrollo de software?"></app-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              ¿Deberías elegir desarrollo de software?
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              Las secciones anteriores describen lo necesario para tener un panorama general
              de lo que es el desarrollo de software, en base a la información presentada, depende de ti
              el querer formar parte de esta comunidad.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              ¿Cuando iniciar?
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              Dado que son 6 materias, el tiempo perfecto para iniciar es el 4to semestre, para poder avanzar
              tranquilamente, en cambio si estás en un
              semestre más adelante, no te preocupes, algunas materias puedes tomarlas mutuamente, pero de preferencia
              máximo iniciar en 6to semestre.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

<ion-footer padding no-border>
  <ion-toolbar>
    <!--<app-reproductor-audio urlAudio="RequisitosPrevios.mp3"></app-reproductor-audio>-->
    <audio src="/assets/audio/Deberias.mp3" controls style="width: 100%"></audio>
  </ion-toolbar>
</ion-footer>