<ion-content>
  <ion-slides pager="true" class="slide-full">
    <ion-slide *ngFor="let slide of slides">
      <ion-card mode="ios">
        <img [src]="slide.img" class="slide-image" />
        <ion-card-header>
          {{ slide.titulo }}
        </ion-card-header>
        <ion-card-header>
          {{ slide.desc }}
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-button expand="full" color="primary" fill="clear" (click)="onClick()">
        Entendido <ion-icon name="happy"></ion-icon>
      </ion-button>
    </ion-slide>

  </ion-slides>
<!--
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button color="github" (click)="openGit()">
        <ion-icon name="logo-github"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="start">
      <ion-fab-button color="light" (click)="developer()">
        <ion-icon name="code"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>


  </ion-fab>
-->
</ion-content>