<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-grid fixed>
    
    <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title text-center>
            Desarrollador
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>Juan Manuel Galindo Casillas <ion-button color="github" slot="end" (click)="openGit()">
              <ion-icon name="logo-github"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>Código de la aplicación <ion-button color="github" slot="end" (click)="openCode()">
              <ion-icon name="code"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title text-center>
            Referencias
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            - ¿Qué hace un Desarrollador de Software ? (s.f.). Recuperado 10 junio, 2019, de https://neuvoo.com.mx/neuvooPedia/es/desarrollador-de-software/
          </p>
          <p>
            - Ingeniería en Computación FI-UAEM. (s.f.). Recuperado 3 junio, 2019, de http://fingenieria.uaemex.mx/portal/coordinacion/ICO/index.php
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-grid>

</ion-content>