<app-header titulo="¿Qué es lo que haré en el campo laboral?"></app-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-row>

      <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">
        <ion-card>
          <ion-img src="/assets/images/labores.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>
              Labores
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <p *ngFor="let labor of labores;let i = index;">

              {{i + 1}} - {{labor}}

            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">
        <ion-card>
          <ion-card-content>
            <video src="/assets/videos/lifeDev.mp4" controls style="width: 100%"></video>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
<!--
<ion-footer no-border>
  <ion-toolbar>
    <app-reproductor urlVideo="lifeDev.mp4"></app-reproductor>
  </ion-toolbar>
</ion-footer>
-->