<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Consejos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="onClick()">
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--<app-reproductor urlVideo="why_software.mp4"></app-reproductor>-->
  <ion-grid fixed>
    <ion-text>
      Consejos sobre preguntas más frecuentes.
    </ion-text>
    <ion-list>
      <ion-item *ngFor="let recomendacion of recomendaciones" [routerLink]="recomendacion.urlMedia" detail>
        <ion-label>
          {{recomendacion.nombre}}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>