<ion-button fill="outline" (click)="playAudio()" color="primary" expand="full"><ion-icon name="musical-note"></ion-icon>Play</ion-button>
<!-- 
<ion-button fill="clear" (click)="stopAudio()" *ngIf="estado==1"><ion-icon name="volume-high"></ion-icon></ion-button>
-->