<app-header titulo="Orden para las materias"></app-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Orden para las materias
        </ion-card-title>
        <ion-card-subtitle>
          Recomendado por la mayoría de alumnos, de orden ascendente
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let materia of materias;let i = index">
            <ion-label>
              {{i + 1}} - {{materia}}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>


<ion-footer padding no-border>
  <ion-toolbar>
<!--    <app-reproductor-audio urlAudio="OrdenMaterias.mp3"></app-reproductor-audio>-->
    <audio src="/assets/audio/Orden.mp3" controls style="width: 100%"></audio>
  </ion-toolbar>
</ion-footer>