<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Materias
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="onClick()"><ion-icon name="help-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let unidad of unidades" size="12" size-lg="4" size-md="4" size-sm="6" size-xs="12">
        <ion-card (click)="verPdf(unidad.redirect)">
          <ion-img [src]="unidad.linkImg"></ion-img>
          <ion-card-header>
            <ion-card-title text-center> {{unidad.nombre}} </ion-card-title>

          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>