<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-row>

      <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">


        <ion-card>
          <ion-img src="/assets/images/fiuaemex.png"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>FIUAEMex</ion-card-subtitle>
            <ion-card-title>Línea de acentuación de desarrollo de software</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">
        <ion-card>
          <ion-img src="/assets/images/proposito.png"></ion-img>
          <ion-card-header>
            <ion-card-title>Propósito</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>El Alumno dominará diferentes paradigmas de programación con la finalidad de desarrollar software de
              aplicación, asimismo tener conocimiento de los parámetros que rigen la calidad de software.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Características
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Bases generales para desarrollo de software.
          </p>
          <p>
            El desarrollo de software engloba desarrollo para diversos fines y en las distintas plataformas.
          </p>
          <ion-list lines="none">
            <ion-item *ngFor="let caracteristica of caracteristicas">
              <ion-icon slot="start" color="medium" name="book"></ion-icon>
              <ion-label> {{caracteristica}} </ion-label>
            </ion-item>
          </ion-list>
          <p>
            Desarrollo de software basado en estándares con la funcionalidad y rendimiento total que satisfacen los requerimientos del cliente
          </p>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>