<app-header titulo="Requisitos y conocimientos previos"></app-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let rec of array" size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{rec.nombre}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{rec.contenido}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer padding no-border>
  <ion-toolbar>
    <!--<app-reproductor-audio urlAudio="RequisitosPrevios.mp3"></app-reproductor-audio>-->
    <audio src="/assets/audio/Requisitos.mp3" controls style="width: 100%"></audio>
  </ion-toolbar>
</ion-footer>